{% extends "restaurant/master.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container-fluid">
		{% if category %}	
			<h1 class="mt-4">Update Category</h1>
		{% else %}
			<h1 class="mt-4">Create New Category</h1>
		{% endif %} 
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Categories Management
			</div>		
		<br/>
		<br/>
		<div style="padding:50px">
			{% if category %}
			<form class="register"  method="POST" action="/restaurant/categories/edit"> 
			<input type="hidden" name="id" value="{{ category.id }}"> 
			{% else %}
			<form class="register"  method="POST" action="/restaurant/categories/add">  
			{% endif %}  
                <ul class="errorList">
                    {% if errors %}
						{% for error in errors %}
                        	<li style="color:red">{{ error }}</li>
						{% endfor %}
                    {% endif %}
                </ul>  	             
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" id="name" value="{{category.name}}">
					</div>
				</div>
				<div class="form-group row">
					<label for="description" class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-10">
						<input type="text" name="description" class="form-control" id="description" value="{{category.description}}">
					</div>
				</div>				
				<div>
					<label for="submit" class="col-sm-2 col-form-label"></label>
					{% if category %}
					<input type="submit" class="btn btn-success"  id="submit" value="Update">	
					{% else %}	
					<input type="submit" class="btn btn-success"  id="submit" value="Create">
					{% endif %}  	
				</div>
			</form>
		</div>
		</div>
		<br/>
	</div>
{% endblock %}
