{% extends "restaurant/master.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container-fluid">
		{% if menu %}
		<h1 class="mt-4">Update Menu</h1>
		{% else %}
		<h1 class="mt-4">Create New Menu</h1>
		{% endif %}  
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Menus Management
			</div>		
		<br/>
		<br/>
		<div style="padding:50px">
			{% if menu %}
			<form class="register"  method="POST" action="/restaurant/menus/edit" enctype="multipart/form-data"> 
			<input type="hidden" name="id" value="{{ menu.id }}"> 
			{% else %}
			<form class="register"  method="POST" action="/restaurant/menus/add" enctype="multipart/form-data">  
			{% endif %}  
                <ul class="errorList">
                    {% if errors %}
						{% for error in errors %}
                        	<li style="color:red">{{ error }}</li>
						{% endfor %}
                    {% endif %}
                </ul>  	   
				<div class="form-group row">
					<label for="password" class="col-sm-3 col-form-label"><b>Choose Category </b></label>
					<div class="col-sm-9">
						<select class="form-control" id="categoryId" name="categoryId">
							{% for category in categories %}						
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>				          
				<div class="form-group row">
					<label for="password" class="col-sm-3 col-form-label"><b>Name</b></label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="name" id="name" value="{{menu.name}}">
					</div>
				</div>
				<div class="form-group row">
					<label for="price" class="col-sm-3 col-form-label"><b>Price</b></label>
					<div class="col-sm-9">
						<input type="text" name="price" class="form-control" id="price" value="{{menu.price}}">
					</div>
				</div>		
				<div class="form-group row">
					<label for="price" class="col-sm-3 col-form-label"><b>Image</b></label>
					<div class="col-sm-9">
						{% if menu %} <img src="../../uploads/menus/{{ menu.pictureFilePath }}" width="350"  id="upfileImg" > <br /><br />{% endif %}
						<b>Change picture: </b><input type="file" id="file1" name="photo"/><br> <br>
					</div>
				</div>							
				<div>
					<label for="submit" class="col-sm-3 col-form-label"></label>
					{% if menu %}
					<input type="submit" class="btn btn-success"  id="submit" value="Update">	
					{% else %}	
					<input type="submit" class="btn btn-success"  id="submit" value="Create">
					{% endif %}  	
				</div>
			</form>
		</div>
		</div>
		<br/>
	</div>
{% endblock %}
