{% extends "restaurant/master.html.twig" %}

{% block title %}LetsEat | Resto categories List
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function () {
			$(".deleteCategory").click(function() {
				var id = $(this).data('id');
				if (!confirm("Are you sure you want to delete this item")) return;
				$.ajax({
						url: "/api/categories/" + id,
						type: "DELETE",
						dataType: "json",
						error: function (jqxhr, status, errorThrown) {
							alert("AJAX error: " + jqxhr.responseText);
						}
					}).done(function (result) {
						alert("Deleted successfully: " + result);
						location.reload();
					})
			});	
		});
	</script>
	<div class="container-fluid">
		<h1 class="mt-4">Categories</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Categories Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<a class="btn btn-primary" style="color:white" href="/restaurant/categories/add">Create new category</a>
				<br/><br/>
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>							
								<th>Name</th>
								<th>Description</th>
								<th>Optation</th>
							</tr>
						</thead>
						<tbody>
							{% for categorie in categories %}
								<tr>
									<td>{{categorie.id}}</td>
									<td>{{categorie.name}}</td>									
									<td>{{categorie.description}}</td>
									<td>
										<a href="/restaurant/categories/edit?id={{categorie.id}}"><i class="far fa-edit"></i></a>	
										&nbsp;&nbsp;
										<a href="#" class="deleteCategory" data-id="{{categorie.id}}" >
											<i class="far fa-trash-alt"></i>
										</a>																	
									</td>	
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
	
{% endblock %}
