{% extends "restaurant/master.html.twig" %}

{% block title %}Home-letseat{% endblock %}

{% block content %}
  
<div class="container-fluid">
	<h1 class="mt-4">Infomation</h1>
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>My Info
    </div>
    <br />
    <div class="row" style="padding-left:40px;margin-top:20px;">
        <div>
            <p><b>Balance:</b> ${{restaurant.balance}} </p>            
            <p><b>Email:</b> {{restaurant.email}} </p>           
            <p><b>Name:</b>  {{restaurant.name}} </p>                 
            <p><b>Shipping Fee:</b>  {{restaurant.shippingFee}}  </p>    
            <p><b>Owner:</b>  {{restaurant.owner}}  </p>          
            <p><b>Register Date:</b>  {{restaurant.registerDate}}  </p>                                                       
            <p id="phoneShow"><b>Phone:</b> {{ restaurant.phone }}  &nbsp;&nbsp;&nbsp;<a href="#" id="phoneEditBtn">Edit</a></p> 
            <p id="phoneEditInput"><b>Phone:</b><input type="text" name="phone" id="phone" value="{{ restaurant.phone}}"> &nbsp;&nbsp;&nbsp;<a href="#" id="confirmPhone">Confirm</a></p>            
            <p><b>Register Date:</b> {{ restaurant.registerDate}} </p>                                
            <div id="addresDisplay">
                <b>Address:</b>
                    {{ restaurant.address}}, {{ restaurant.city}}, {{ restaurant.province }}, {{ restaurant.country }}, {{ restaurant.postcode }} &nbsp;&nbsp;&nbsp;
                    <a href="#" id="addressEdit">Edit</a>
            </div>
            <br />
            <div id="addressForm" style="border:1px solid #b2b4b8;padding:15px; width:300px;">
                <h5>Address Edit</h5>
                <span id="addressError"> </span>
                Address &nbsp;<input type="text" name="address" id="address" value="{{ restaurant.address}}"> <br /><br />
                <span id="cityError"> </span>
                City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city" id="city" value="{{ restaurant.city}}"> <br /><br />
                <span id="provinceError"> </span>
                Province <input type="text" name="province" id="province"  value="{{ restaurant.province}}"> <br /><br />
                <span id="countryError"> </span>
                Country &nbsp;<input type="text" name="country" id="country"  value="{{ restaurant.country}}"> <br /><br />
                <span id="postcodeError"> </span>					
                Postcode <input type="text" name="postcode" id="postcode"  value="{{ restaurant.postcode}}"> <br />
                <br />
                <div class="text-center">
                    <a href="#" id="confirmAddress" >Confirm</a>
                </div>
            </div>	
            <br /><br />           
        </div>
        <div style="margin-left:80px">                                            
            <p><b>Restaurant Picture:</b> <br /><br /><img src="../uploads/restaurants/{{ restaurant.pictureFilePath}} " alt="licensePicture" width="400"/></p> 
            <p><b>Change picture: </b><input type="file" id="file1" name="photo"/><br> <br>    </p>
            <br /><br />               
        </div>    
    </div>
</div> 
<script>
        $(document).ready(function () {
            $("#phoneEditInput").hide();
			$("#addressForm").hide();
			$("#phoneEditBtn").click(function(){
                $("#phoneEditInput").show();
                $("#phoneShow").hide();               
            });

			$("#addressEdit").click(function(){
                $("#addressForm").show();
                $("#addresDisplay").hide();     				
			});

            $("#confirmPhone").click(function(){
                var phone = $("input[name=phone]").val();								
                // TODO: verify values are valid
                var userObj = { phone:phone };;
                var dataString = JSON.stringify(userObj);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/delivery/phone",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });

            $("#confirmAddress").click(function(){
                var address = $("input[name=address]").val();
				var city = $("input[name=city]").val();			
				var province = $("input[name=province]").val();				
				var country = $("input[name=country]").val();		
				var postcode = $("input[name=postcode]").val();													

                // TODO: verify values are valid
                var userObj = { address: address, city: city, province: province, country: country,postcode:postcode };;
                var dataString = JSON.stringify(userObj);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/delivery/address",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });			

        });
</script>

{% endblock %}

