{% extends "restaurant/master.html.twig" %}

{% block title %}LetsEat | Menu List
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function () {
			$(".deleteMenu").click(function() {
				var id = $(this).data('id');
				if (!confirm("Are you sure you want to delete this item")) return;
				$.ajax({
						url: "/api/menus/" + id,
						type: "DELETE",
						dataType: "json",
						error: function (jqxhr, status, errorThrown) {
							alert("AJAX error: " + jqxhr.responseText);
						}
					}).done(function (result) {
						alert("Deleted successfully: " + result);
						location.reload();
					})
			});	
		});
	</script>
	<div class="container-fluid">
		<h1 class="mt-4">Menus</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Menus Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<a class="btn btn-primary" style="color:white" href="/restaurant/menus/add" >Create new menu</a>
				<br/><br/>
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>							
								<th>Name</th>
								<th>Price</th>        
								<th>Category</th>   								                     
								<th>Invertory</th>  
								<th>Picture</th>      							 							                         
								<th>Optation</th>
							</tr>
						</thead>
						<tbody>
							{% for menu in menus %}
								<tr>
									<td>{{menu.id}}</td>
									<td>{{menu.name}}</td>	
									<td>{{menu.price}}</td>                                      								
									<td>{{menu.categoryName}}</td>
									<td>{{menu.inventory}}</td>          
									<td><img src="../uploads/menus/{{menu.picture}}" alt="menu picture" width="30"></td>    								                                                          
									<td>
										<a href="/restaurant/menus/edit?id={{menu.id}}"><i class="far fa-edit"></i></a>	
										&nbsp;&nbsp;
										<a href="#" class="deleteMenu" data-id="{{menu.id}}" >
											<i class="far fa-trash-alt"></i>
										</a>																	
									</td>	
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
