{% extends "restaurant/master.html.twig" %}

{% block title %}LetsEat | Order List
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function () {
			$(".orderDetaiHover").hover(function() {
				$('.flyout').removeClass('hidden');
				var orderNumber = $(this).data('ordernumber');
				$.ajax({
						url: "/api/orderdetail?orderNumber=" + orderNumber,
						type: "GET",
						dataType: "json",
						error: function (jqxhr, status, errorThrown) {
							alert("AJAX error: " + jqxhr.responseText);
						}
					}).done(function (result) {
						var html = getOrderDetailHtml(result);  
						$('#tableDetail').html(html);
					})				
			}, function() {
				$('.flyout').addClass('hidden');
			});
		});

		function getOrderDetailHtml(itemList){
                var result = '<tr><th>#</th>'
                    + '<th>Menu</th>'
                    + '<th>Quantity</th></tr>';
                for (var i = 0; i < itemList.length; i++) {
                    var item = itemList[i];
                    result += '<tr>';
                    result += '<td>' + item.orderNumber + '</td>';
                    result += '<td>' + item.menuName + '</td>';
                    result += '<td>' + item.quantity + '</td>';
                    result += '</tr>' + "\n";
                }			
			return result;
		}
	</script>
	<div class="container-fluid">
		<h1 class="mt-4">Orders</h1>
	
		<div class="flyout hidden">
			<h3>Order Detail </h3>
			<table class="table table-bordered" id="tableDetail">
			</table>		
		</div>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Menus Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>		
								<th>Serial Number</th>                                					
								<th>Customer</th>
								<th>Order Time</th>
								<th>Status</th>                                
								<th>Total Money</th>                               
								<th>Delivery Time</th>   
								<th>Delivery Man</th>  								                                                                                              
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td>
										<a href="#" class="orderDetaiHover" data-ordernumber="{{order.orderNumber}}">{{order.orderNumber}}</a>
									</td>
									<td>{{order.customerName}}</td>                                       	
									<td>{{order.orderDate}}</td>                                      								
									<td>{{order.status}}</td>
									<td>${{order.totalMoney}}</td>            
									<td>{{order.deliveryTime}}</td>   
									<td>{{order.deliveryMan}}</td> 									                                                                                                                                                                        
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
