{% extends "master.html.twig" %}


{% block title %}Order
	{{order.id}}
{% endblock %}
{% block head %}
{% set id = order.id %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=CAD" data-sdk-integration-source="button-factory"></script>
	<script>
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'blue',
                layout: 'vertical',
                label: 'paypal',
                
            },
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: $('input[name=amount]').val()
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    var id = "{{ id }}";
                    $.ajax({ // FIXME: escape special characters using urlencode
                        url: "/order/paid/" + id,
                        type: "PATCH",
                        dataType: "json",
                        error: function (jqxhr, status, errorThrown) {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function () {
                        window.location.replace("/orderdetail/"+id);
                    });
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-offset-3">
				<div class="card">
					<div class="card-header text-center">
						<h3 class="price">Pay for the order</h3>
					</div>
					<div class="card-block text-left">
						<div class="card-title">
							Order number:
							{{order.id}}
						</div>

						<h6>Place date:
							{{order.orderTime}}</h6>
						<h6>Seller id:
							{{order.sellerId}}</h6>

						<p>Amount to be paid:
														CAD$<input name="amount" value={{order.total}} disabled style="background-color:transparent; border:0; font-weight:bold"><!--b>${{ order.total }}</b-->.
						</p>
						<div id="paypal-button-container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
