{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Resto categories List
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Categories</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Categories Management
			</div>
			{# end of card-header#}
			<div class="card-body">
				<b>Filter by restaurant:</b> &nbsp;&nbsp;
				<select name="restoId">
						<option value=""></option>
					{% for restaurant in restaurants %}
						<option value="{{restaurant.id}}">{{restaurant.id}}-{{restaurant.name}}</option>
					{% endfor %}
				</select>		<br />		<br />
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>							
								<th>Name</th>
								<th>Restaurant</th>								
								<th>Description</th>
								<th>Optation</th>
							</tr>
						</thead>
						<tbody>
							{% for categorie in categories %}
								<tr>
									<td>{{categorie.id}}</td>
									<td>{{categorie.name}}</td>		
									<td>{{categorie.name}}</td>																		
									<td>{{categorie.description}}</td>
									<td>
										<a href="#"><i class="far fa-edit"></i></a>	
										&nbsp;&nbsp;
										<a href="#">
											<i class="far fa-trash-alt"></i>
										</a>																	
									</td>	
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
