{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Consumers list
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Consumers</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Consumers management</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>Username</th>
								<th>Password</th>
								<th>Update consumer</th>
								<th>Orders</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>Username</th>
								<th>Password</th>
								<th>Update consumer</th>
								<th>Orders</th>
							</tr>
						</tfoot>
						<tbody>
							{% for consumer in consumersList %}
								<tr>
									<th>{{consumer.id}}</th>
									<td>{{consumer.name}}</td>
									<td>{{consumer.address}},{{consumer.city}},{{consumer.province}},{{consumer.country}},{{consumer.postcode}}</td>
									<td>{{consumer.phone}}</td>
									<td>{{consumer.email}}</td>
									<td>{{consumer.registerDate}}</td>
									<td>{{consumer.username}}</td>
									<td>{{consumer.password}}</td>
									<td>
										<a style="color:blue;" href="#">Edit</a>&nbsp;
										{{consumer.id}}-{{consumer.name}}</td>
									<td>
										<a href="order/{{consumer.id}}">Click here to see orders</a>
									</td>
									<td></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
