{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Consumers list
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">DeliveryMen</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>DeliveryMen management</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Balance</th>	
								<th>Phone</th>
								<th>Email</th>	
								<th>Work Type</th>																						
								<th>SIN</th>
								<th>DateOfBirth</th>
								<th>Address</th>
								<th>Registerdate</th>
								<th>Vehicle Registration</th>
								<th>DriverLisence</th>
								<th>Drive Years</th>
								<th>Lisence Plate</th>
								<th>DriverLisPicPath</th>
								<th>Lisence Satus</th>
								<th>Operation</th>

							</tr>
						</thead>
						<tbody>
							{% for deliverer in deliverymen %}
								<tr>
									<td>{{deliverer.id}}</td>
									<td>{{deliverer.name}}</td>
									<td>${{deliverer.balance}}</td>		
									<td>{{deliverer.phone}}</td>
									<td>{{deliverer.email}}</td>
									<td>{{deliverer.workType}}</td>																									
									<td>{{deliverer.SIN}}</td>
									<td>{{deliverer.dateOfBirthday}}</td>									
									<td>{{deliverer.address}}, {{deliverer.city}}, {{deliverer.province}}, {{deliverer.country}}, {{deliverer.postcode}}</td>
									<td>{{deliverer.registerDate}}</td>
									<td>{{deliverer.vehicleRegistration}}</td>
									<td>{{deliverer.driverLisence}}</td>
									<td>{{deliverer.driveYears}}</td>
									<td>{{deliverer.lisencePlate}}</td>
									<td>{{deliverer.driverLisPicPath}}</td>
									<td>{{deliverer.status}}</td>
									<td>
										<a href="#"><i class="far fa-edit"></i></a>								
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
