{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Consumers list
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Consumers</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Consumers management</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>SIN</th>
								<th>Age</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>Balance</th>
								<th>Username</th>
								<th>Password</th>
								<th>Work Type</th>
								<th>Vehicle Registration</th>
								<th>DriverLisence</th>
								<th>Drive Years</th>
								<th>Lisence Plate</th>
								<th>DriverLisPicPath</th>
								<th>Lisence Satus</th>
								<th>Update  Delete</th>

							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>SIN</th>
								<th>Age</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>Balance</th>
								<th>Username</th>
								<th>Password</th>
								<th>Work Type</th>
								<th>Vehicle Registration</th>
								<th>DriverLisence</th>
								<th>Drive Years</th>
								<th>Lisence Plate</th>
								<th>DriverLisPicPath</th>
								<th>Lisence Satus</th>
								<th>Update  Delete</th>
							</tr>
						</tfoot>
						<tbody>
							{% for deliverer in deliverersList %}
								<tr>
									<td>{{deliverer.id}}</td>
									<td>{{deliverer.name}}</td>
									<td>{{deliverer.age}}</td>
									<td>{{deliverer.SIN}}</td>
									<td>{{deliverer.address}},{{deliverer.city}},{{deliverer.province}},{{deliverer.country}},{{deliverer.postcode}}</td>
									<td>{{deliverer.phone}}</td>
									<td>{{deliverer.email}}</td>
									<td>{{deliverer.registerDate}}</td>
									<td>{{deliverer.balance}}</td>
									<td>{{deliverer.username}}</td>
									<td>{{deliverer.password}}</td>
									<td>{{deliverer.workType}}</td>
									<td>{{deliverer.vehicleRegistration}}</td>
									<td>{{deliverer.driverLisence}}</td>
									<td>{{deliverer.driveYears}}</td>
									<td>{{deliverer.lisencePlate}}</td>
									<td>{{deliverer.driverLisPicPath}}</td>
									<td>{{deliverer.status}}</td>
									<td>
										<a style="color:blue;" href="#">Edit</a>&nbsp;
										<a style="color:blue;" href="#">Delete</a><br>
										{{deliverer.id}}-{{deliverer.name}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
