{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Menu List
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Menus</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Menus Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>							
								<th>Name</th>
								<th>Price</th>        
								<th>Category</th>   								                     
								<th>Invertory</th>  
								<th>Picture</th>
								<th>Restaurant</th>      							 							                         
								<th>Optation</th>
							</tr>
						</thead>
						<tbody>
							{% for menu in menus %}
								<tr>
									<td>{{menu.id}}</td>
									<td>{{menu.name}}</td>	
									<td>{{menu.price}}</td>                                      								
									<td>{{menu.categoryName}}</td>
									<td>{{menu.inventory}}</td>          
									<td><img src="../uploads/menus/{{menu.picture}}" alt="menu picture" width="30"></td>
									<th>{{menu.restaurantName}}</th>     									    								                                                          
									<td>
										<a href="#"><i class="far fa-edit"></i></a>	
										&nbsp;&nbsp;
										<a href="#">
											<i class="far fa-trash-alt"></i>
										</a>																	
									</td>	
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
