{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Resto categories List
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Restaurant categories</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Restaurants Categories Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<select name="restoId">
					{% for restaurant in restaurantsList %}
						<option value="{{restaurant.id}}">{{restaurant.id}}-{{restaurant.name}}</option>
					{% endfor %}
				</select>
				<br/><br/>
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Categories</th>
								<th>Mealitems under gategory</th>
							</tr>
						</thead>

						<tbody>
							{% for categorie in categoriesList %}
								<tr>
									<td>{{categorie.name}}</td>
									<td>
										<a href="/mealitems/{{categorie.id}}">
											Click here to see meals' menu in this categorie</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
