{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Resto restaurant List
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Restaurant</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Restaurant Management
			</div>
			{# end of card-header#}

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>Owner</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>OpenTime</th>
								<th>CloseTime</th>
								<th>Rate</th>
								<th>Operation</th>								
							</tr>
						</thead>
						<tbody>
							{% for restaurant  in restaurantsList  %}
								<tr>
									<td>{{restaurant.name}}</td>
									<td>{{restaurant.address}},{{restaurant.city}},{{restaurant.province}},{{restaurant.country}},{{restaurant.postcode}}</td>
									<td>{{restaurant.owner}}</td>
									<td>{{restaurant.phone}}</td>
									<td>{{restaurant.email}}</td>
									<td>{{restaurant.registerdate}}</td>
									<td>{{restaurant.openTime}}</td>
									<td>{{restaurant.closeTime}}</td>
									<td>{{restaurant.Rate}}</td>
									<td>										
										<a href="#"><i class="far fa-edit"></i></a>			
									</td>									
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
