{% extends "admin/master.html.twig" %}

{% block title %}LetsEat | Customers list
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Customers</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Customers management</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Registerdate</th>
								<th>Operation</th>								
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Operation</th>
							</tr>
						</tfoot>
						<tbody>
							{% for consumer in users %}
								<tr>
									<th>{{consumer.id}}</th>
									<td>{{consumer.name}}</td>
									<td>{{consumer.address}},{{consumer.city}},{{consumer.province}},{{consumer.country}},{{consumer.postcode}}</td>
									<td>{{consumer.phone}}</td>
									<td>{{consumer.email}}</td>
									<td>{{consumer.registerDate}}</td>
									<th>
										<a href="#"><i class="far fa-edit"></i></a>			
										<a href="admin/resetPassword">Reset Password
									</th>									
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
