#menuRestaurant{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:300px;
    width: 100%;      
}

#restaurantInfo{
    background-color:white;
    width:450px;
    height:150px;
    padding:20px;
}

.category ul li{
    display: inline; 
}

.category ul li a{
    color:gray;
}

.menuPicure{
    width:100%;
}

#myCart{
    width:320px;
    height: 400px;
    float:right;
    position: fixed;
    left:1250px;
    top:450px;
    border: 3px solid #9c9b98;    
}

#carOrderTitle{
    background:#a33a0a;
    color:white;
    width:320px;
    font-weight:bold;
}

.deletCarItem{
    float:right;
    margin-right:5px;  
}