  .menu{
    color:black;
  }

  .colorBlack{
    color:balck;
  }

  #map {
    height: 50%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  