body{
    background-color: white;
    color:black;
    font-family: 'Nunito', sans-serif;
}

#topMenu{
    position: fixed;
    top:0;    
}

#main-container-home{
    background-image: url("../images/home1.JPG");
    /* opacity: 0.5;
    filter: alpha(opacity=50); For IE8 and earlier */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:400px;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Heebo', sans-serif;
}

#navbar-container{
    background-color:#5c0e0e;
    font-size: 12px;
}

.menu{
    color:white;
    margin-left: 25px;;   
}

.whiteColor{
    color:white;
}

.carousel-item p{
    font-size: 1rem;
}

.carousel-item .btn{
    background-color: #5c0e0e;
    border: solid 1px #814f26;
    color: whitesmoke;
}

.main-carousel{
    padding-top: 4rem;
    color:white;
}

#social-media-container{
    background-color: #5c0e0e;
}

#button-addon2{
    background-color:#814f26;
    border:none;
    color: whitesmoke;
}

#reviews-container{
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:500px;
    width: 100%;
}


#footer {
    background-color: #252525;
    font-size: 14px;;
}

/* NAVIGATION EFFECTS CSS */

effect *{
    transition: all 0.35s ease;
}
.effect li{
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}
.effect a{
    position: relative;
}
.effect a:before,
.effect a:after{
    height: 10px;
    width: 10px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;

}
.effect a:before{
    right: 0;
    top:0;
    border-right: 3px solid yellow;
    border-top: 3px solid yellow;
    transform: translate(-100%,50%);

}
.effect a:after{
    left:0;
    bottom:0;
    border-left: 3px solid yellow;
    border-bottom: 3px solid yellow;
    transform: translate(100%,-50%);

}
.effect a:hover:before,
.effect a:hover:after{
    transform: translate(0%,0%);
    opacity: 1;
}


/* BOOTSTRAP MEDIUM */
@media (max-width: 767px){
    #navbar-container{
        background-color: transparent;
    }
}

/* BOOTSTRAP SMALL */
 @media (max-width: 576px){
    #main-container-home{
        min-height:400px;
     }
 }

/* BOOTSTRAP MEDIUM */
 @media (min-width: 768px){
    #main-container-home{
       min-height:800px;
    }
    .carousel-item p{
        font-size: 2rem;
    }
    .main-carousel{
        padding-top: 7rem;
    }
}

/* BOOTSTRAP LARGE */
@media (min-width: 992px){
    #main-container-home{
       min-height:900px;
    }
    #navbar-container{
        font-size: 16px;
    }
}

/* BOOTSTRAP EXTRALARGE */
@media (min-width: 1200px){
    #main-container-home{
       min-height:1000px;
    }
}
#numbers{
    background-image: url("../images/merci.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:200px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

/* FOR SALE CSS */

.saleCarsDetail{
    padding-left:50px;
}
.carDetail-fulid{
    padding-right:70px;
}
.salingCarsFluid{
    background-color:#faf8f9;
    color:#252525;
    padding:20px;
}

@media (max-width: 480px) {
    .carDetail-fulid{
        padding-right:12px;
    }
    .saleCarsDetail{
        padding-left:12px;
    }
}
.moreCar{
    width:80%;
}

iframe{
    width:100%;
}

.currentBackgroundColor{
    background-color:white;
}

.currentColor{
    color:#5c0e0e;
}

.errorList{
    color:red;
}

.inputBox{
    padding:20px;
    background-color: white;
    border-radius:10px;
}