.resBtn{
    color:white;
    background-color: blue;
}

.flyout {
    position: absolute;
    margin-left:250px;
    width: 600px;
    min-height: 250px;
    background: #b8b8b8;
    overflow: hidden;
    z-index: 10000;
  }
  
  .hidden {
    visibility: hidden;
  }