<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Mr Car Feel Better is a world-renowned facility involved with the repair, restoration and sales of classic and antique cars">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" />

    <!-- External CSS-->
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />            
        {% block link %}  {% endblock %}
        <title>{% block title %}Default{% endblock %} - home</title>
        
        {% block head %}{% endblock %}
    </head>
    <body>     
        <div class="container">
            <div class="row">                
                    &nbsp;<a href="/"><img src="../images/logo.png" width="200" style="margin-top:5px;margin-left:10px"/></a>                  
            </div>  
        </div>                 
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock scripts %}     
    </body>
</html>