{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
        <div class="row">
            <div class="col">		
				<br/>	            
                <div  class="inputBox">	
		       	<h3>SHIPPING TO</h3>								
					<hr />								
					<h5>{{ users.name }}</h5>
					<p>{{ users.address }}</p>
					<p>{{ users.city }}, {{ users.province }}, {{ users.postcode }}</p>
					<p>{{ users.phone }}</p>						
                </div>   
				<br/>	            
				<br />
                <div  class="inputBox">	
		       	<h3>PAYMENT</h3>								
					<hr />
					<form  method="POST"  action="/orderview">    
						<ul class="errorList">
							{% if error %}
								<li>{{ error }}</li>
							{% endif %}
						</ul>    
						<!--
						<div class="input-group mb-3">
							<input type="radio" name="paymentType" id="creditCardPay"/>
							<img src="../images/payment1.JPG" alt="payment1.JPG">
						</div>
						<div id="creditCardPayForm"> 
								<ul class="errorList">
									{% if error %}
										<li>{{ error }}</li>
									{% endif %}
								</ul>    		             
								<div class="form-group row">
									<label for="nameOnCard" class="col-sm-4 col-form-label">*Name On Card</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="nameOnCard" id="nameOnCard" placeholder="Name On Card">
									</div>
								</div>
								<div class="form-group row">
									<label for="cardNumber" class="col-sm-4 col-form-label">*Card Number</label>
									<div class="col-sm-8">
										<input type="text" name="cardNumber" class="form-control" id="cardNumber" placeholder="Card Number">
									</div>
								</div>
								<div class="form-group row">
									<label for="securityCode" class="col-sm-4 col-form-label">*Security Code</label>
									<div class="col-sm-8">
										<input type="text" name="securityCode" class="form-control" id="securityCode"  placeholder="CVV" >
									</div>
								</div>			
								<div class="form-group row">
									<label for="expirationDate" class="col-sm-4 col-form-label">*Expiration Date</label>
									<div class="col-sm-8">
										<input type="text" name="expirationDate" class="form-control" id="expirationDate"  placeholder="MM/YY" >
									</div>
								</div>												

								<div>
									<label for="inputPassword" class="col-sm-4 col-form-label"></label>
									<input type="submit" class="btn btn-sm btn-secondary"  class="btn btn-sm btn-secondary" value="Continue to Orderview">		
								</div>	
						</div>						
						<br />	
						-->								
						<div>
							<!--
							<input type="radio" name="paymentType" id="paypalPay"/> 
							<img src="../images/payment2.JPG" alt="payment2.JPG">			
						    -->			
							<input type="submit" class="btn btn-sm btn-secondary" id="continueToPaypal" value="Continue to Paypal"></a>		
								<div id="paypal-button-container"></div>
								<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=CAD" data-sdk-integration-source="button-factory"></script>
								<script>
								paypal.Buttons({
									style: {
										shape: 'rect',
										color: 'gold',
										layout: 'vertical',
										label: 'paypal',
										
									},
									createOrder: function(data, actions) {
										return actions.order.create({
											purchase_units: [{
												amount: {
													value: '0.1'
													//0.1 is for test for true is:$('input[name=totalMoney]').val()
												}
											}]
										});
									},
									onApprove: function(data, actions) {
										return actions.order.capture().then(function(details) {
											alert('Transaction completed by ' + details.payer.name.given_name + '!');
											var totalMoeny = $('input[name=totalMoney]').val();
											$.ajax({ // FIXME: escape special characters using urlencode
												url: "/placeorder/" + totalMoeny,
												type: "GET",
												dataType: "json",
												error: function (jqxhr, status, errorThrown) {
													alert("AJAX error: " + jqxhr.responseText);
												}
											}).done(function () {
												//window.location.replace("/orderdetail/"+id);
											});											
										});
									}
								}).render('#paypal-button-container');
								</script>	
							<!-- <a href="https://www.paypal.com/ca/for-you/mobile-wallet/payment-methods" target="_blank" >What is paypal?</a><br />-->											
						</div>
								
						<br />	<br />		
								<div>
									if Paypal not working well,below for test create order<br />
									<input type="submit" class="btn btn-sm btn-secondary"  class="btn btn-sm btn-secondary" value="Continue to Orderview">		
								</div>
													    									         
					</form>
                </div>  
				<br />		                 
            </div>			
            <div class="col">
				<br />	
                <div  class="inputBox">
				<input type="hidden" name="totalMoney" value="{{ subTotal + subTotal*0.15|number_format(2, '.', ',') }}" >
		       	<h3>ORDER SUMMARY</h3>								
					<hr />
					<h5>Sub Total: $ {{ subTotal }} </h5>
					<p>Shipping Fee: $ {{ shippingFee }}</p>
					<p>5% GST: ${{ (subTotal*0.05)|number_format(2, '.', ',') }}</p>
					<p>9.98% QST: ${{ (subTotal*0.10)|number_format(2, '.', ',') }}</p>
					<h5>Estimated total: ${{ (subTotal + subTotal*0.15)|number_format(2, '.', ',') }}</h5>
                </div> 	
				<br />	
                <div  class="inputBox">
		       	<h3>ORDER DETAILS</h3>								
					<hr />
					{% if cartItems %}
					<table class="table">
					<thead>
						<tr>
						<th scope="col">#</th>
						<th scope="col">Menu Name</th>
						<th scope="col">Price</th>						
						<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
					{% for cartItem in cartItems %}
						<tr>
						<th scope="row"><img src="../uploads/menus/{{cartItem.pictureFilePath}}" width="50"/></th>
						<td>{{cartItem.menuName}}</td>
						<td>${{cartItem.price}}</td>
						<td>{{cartItem.quantity}}</td>					
						</tr>
					{% endfor %}																		
					</tbody>
					</table>
					{% endif %}
					<a href="/chooseMenu/{{ session.restaurantId}}" style="float:right">Continue Choose Menu</a>
					<br />
                </div>   				         
            </div>
        </div><br/>	
	</div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
			$("#creditCardPayForm").hide();
			$("#continueToPaypal").hide();

			$("#creditCardPay").click(function(){
				$("#creditCardPayForm").show();
				$("#continueToPaypal").hide();
			});

			$("#paypalPay").click(function(){
				$("#creditCardPayForm").hide();
				$("#continueToPaypal").show();
			});
        });


    </script>	
{% endblock scripts %}