{% extends "website/master.html.twig" %}
{% block link %}         
    <link rel="stylesheet" type="text/css" href="../styles/chooseMenu.css" />    
{% endblock %}
{% block title %}Home-Menu{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        var cart = [] ;
        $(document).ready(function(){
            refreshCartitemsList();
               // console.log(cart);
               // console.menuId;            
            $('.addCartBtn').click(function(e){
                var menuId = $(this).data('id');
                var price = $(this).data('price');
                var menuName = $(this).data('menuname');
                var restaurantId = $("input[name=restaurantId]").val();
                var quantity = $("input[name=quantity" + menuId + "]").val();                    
                let url = '/cart/add?menuId=' + menuId  
                        +    '&restaurantId=' + restaurantId
                        +   '&quantity=' + quantity;
                //1. change cart 
                var item = {
                    id:menuId,
                    quantity:quantity,
                    menuName:menuName,
                    restaurantId:restaurantId,
                    price:price
                };
                //if select same product, need merge quantity
                var hasItem = false;                
                for (var i = 0; i < cart.length; i++) {
                    if(cart[i]['id']==menuId){     
                        console.log(menuId);                                      
                        cart[i]['quantity']++;
                        hasItem = true;
                    }
                } 
                
                if(hasItem==false){                
                    cart.push(item);
                } 
                //e.preventDefault();
                //2. send to back-end
                $.ajax({
                    method: "GET",
                    url:url,
                })
                .done(function( msg ) {
                    //3 display at right-sidebar
                        var html = renderCart(cart);                          
                        //console.log(html);
                     $('#myCart').html(html);
                });    
            });

            $('#myCart').on( "click", ".deletCarItem", function() {              
                var menuId = $(this).data('id');              
                var restaurantId = $(this).data('restaurantid');                 
                let url = '/cart/delete?menuId=' + menuId  
                        +    '&restaurantId=' + restaurantId;
                     console.log(cart);                           
                //1.remove
                for (var i = 0; i < cart.length; i++) {                
                    if(cart[i]['id']==menuId){   
                        cart.pop(i);                                        
                    }
                } 
                //console.log(cart);
                var html = renderCart(cart);                          
                        //console.log(html);
                $('#myCart').html(html);

                //e.preventDefault();
                //2. send to back-end
                $.ajax({
                    method: "GET",
                    url:url,
                })
                .done(function( msg ) {
                    //3 display at right-sidebar
                        var html = renderCart(cart);                          
                        //console.log(html);
                     $('#myCart').html(html);
                });    
            });            
            
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });

        function refreshCartitemsList() {
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/cartitems",
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                }
            }).done(function (cartitems) {
                for (var i = 0; i < cartitems.length; i++) {
                    var cartitem = cartitems[i];
                    var menuId = cartitem.id;
                    var menuName = cartitem.menuName;
                    var quantity = cartitem.quantity;
                    var restaurantId = cartitem.restaurantId;
                    var price = cartitem.price;    
                    var item = {
                        id:menuId,
                        quantity:quantity,
                        menuName:menuName,
                        restaurantId:restaurantId,
                        price:price
                    };
                    cart.push(item);                                    
                }                


                var html = renderCart(cart); 
                $('#myCart').html(html);
            });
        }        
        
        function renderCart(cart){
            var html = '<div id="carOrderTitle">Your Order </div><br />' ;
            var total = 0;
            for (var i = 0; i < cart.length; i++) {
                total += parseFloat(cart[i]['price'] * cart[i]['quantity']);
                html += '<div><b> &nbsp;'  + ' '  + cart[i]['menuName']  + ' ' + " $" 
                        +  cart[i]['price']+ ' * ' + + cart[i]['quantity'] 
                        +'</b> <button class="btn btn-sm btn-danger deletCarItem" data-id="' 
                        + cart[i]['id']+ '" data-restaurantid="'+ cart[i]['restaurantId'] +'"> × </button><hr></div>';              
            } 

            if(total>0){
                html = html + '<div style="text-align:center;">Total:' 
                            {% if session.user %}
                            + total.toFixed(2) + '<br /><a class="btn btn-sm btn-secondary" href="/checkout" >Check Out</a></div>  ';  
                            {% else %}    
                            + total.toFixed(2) + '<br /><a class="btn btn-sm btn-secondary" href="/login">Check Out</a></div>  '; 
                            {% endif %}     
            }else{
                html = html + '<div style="text-align:center;"><br /><br /><br /> <img src="../images/emptyCart.jpg" width="220"> <br />  <br /> Your car is empty! <br /> </div>';
            }       
            return html ;
        }
    </script>
{% endblock %}

{% block logo %}
<div class="col-3 d-none text-center d-md-inline">                    
    <a href="/"><img src="../images/logo.png" width="200" style="margin-top:5px;"/></a>                  
</div>
{% endblock %}

{% block searchOrMenu %}
    <form class="form-inline my-2 my-lg-0">
        <a href="/chooseRestaurant">Change restaurant<a/>
    </form>   
{% endblock %}    

{% block content %}
    {% if restaurantPicPath  %}
    <div id="menuRestaurant"  class="container-fluid" style="background-image: url('../uploads/restaurants/{{ restaurantPicPath }}');  ">
    {% else %}
    <div id="menuRestaurant"  class="container-fluid" style="background-image: url('../uploads/restaurants/restaurant1.JPG');  ">
    {% endif %}

    </div>
    <br />
    <div class="container">
        <div class="row">
            <div calss="col-12">
                <div>
                    <h3> {{ restaurant.name}}</h3>
                     <b>Phone:</b> {{ restaurant.phone}}<br /> <b>Address: </b>{{ restaurant.address}}, {{ restaurant.city}}, {{ restaurant.province }}, {{ restaurant.country }}, {{ restaurant.postcode }}
                                  
                </div>
                <br />     
            </div>
        </div>
        <div id="myCart" style="overflow: auto;"></div>
        {% if menus %} 
            <div class="row">               
                {% for menu in menus %}              
                    <div class="col-12 col-md-3 py-md-3">
                        <img src="../uploads/menus/{{ menu['pictureFilePath'] }}" class="menuPicure">
                        <br /><br />
                        <p><b>{{ menu['name'] }}</b></p>
                        <p>
                            <span style="color:red">${{ menu['price'] }}</span> 
                            <input type="number" name="quantity{{menu.id}}" value="1" min="1" size="1" />&nbsp;&nbsp;
                        </p> 
                        <button class="btn btn-secondary addCartBtn" data-menuname="{{menu.name}}" data-id="{{menu.id}}" data-price="{{menu.price}}" >
                        Add Cart
                        </button>                
                    </div>
                    {% if menu.index is divisible by(3) %}  
                    </div>
                    <div class="row"> 
                    {% endif %}
                {% endfor %} 
            </div>
            <br /> <br />    
        {% endif %}                   
    </div> 
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myCart");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>     
{% endblock %}
