<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="restaurant food menu delivery">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" />

    <!-- External CSS-->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <link rel="stylesheet" type="text/css" href="styles/chooseRestaurant.css" />    

    <title>LetsEAT - Restarurants</title>
  </head>
  <body>
      <!-- Header -->
      <div class="container">
        <div class="row">
            <div class="col-3 d-none d-md-inline">            
                <a href="/"><img src="images/logo.png" width="200" style="margin-top:5px;"/></a>                
            </div>
            <div class="col-6 offset-3 offset-md-0 text-center" style="margin-top:22px">
              <span id="changePostCode">
              <i class="fas fa-map-marked-alt fa-2x"></i>
              <b>{{ session.arrCenterPostcode.postcode }} </b>
              </span>                     
            </div>
            <div class="col-3 d-md-none py-4"><i class="fas fa-tty fa-lg"></i></div>
            <div class="col-3 d-none d-md-inline py-4">
                {% if session.user %}
                  <span>Hi 
                    <b>{{ session.user.name }}</b>
                  </span>
                  <a href="/logout">Logout</a>
                {% else %}
                  <a href="/login">Login</a>
                  or
                  &nbsp;&nbsp;&nbsp;<a href="/register">Register</a>
                {% endif %}                   
                &nbsp;&nbsp;&nbsp;<i class="fas fa-globe-americas"></i>&nbsp;<a href="fr/index.html">FR</a>
            </div>
        </div>
      </div>     

    <div id="map"></div>
    <br /> <br />
    <div class="container">
        <div class="row">
            <form class="form-inline my-2 my-lg-0">
              <!--
              <input class="form-control mr-sm-2" type="search" size="40" placeholder="Search restaurants" >
              <a class="btn btn-sm btn-danger" href="chooseRestaurant.html"> Search </a>
              -->
            </form>  
        </div>   
        <br /> 
        <div class="row">
            <div calss="col-12">
                <p style="font-size: 25px;font-weight: bold;">Local Restaurants Nearby</p>
            </div>
        </div>
        {% if restaurantsList %} 
            <div class="row">
            {% for restaurant in restaurantsList %}
                <div class="col-12 col-md-4 py-md-3">
                    <a href="/chooseMenu/{{ restaurant.id }}">
                    <img src="uploads/{{ restaurant['pictureFilePath'] }}" width="300">
                    <br /><br />
                    <p><b>{{ restaurant['name'] }}</b></p>
                    <p>27-47 mins. $1.99 Delivery &nbsp;&nbsp;<span class="btn btn-danger">{{  restaurant['rate'] }}</span> </p>   
                    </a>                
                </div>
                {% if restaurant.index is divisible by(3) %}  
                </div>
                <div class="row"> 
                {% endif %}
            {% endfor %} 
            </div> 
        {% endif %}        
    </div>
    <br />

     <br />
     <!-- footer -->
     <div style="background-color:#252525;color:white">
      <div class="container">
          <div class="row" id="footer">
              <div class="col-12 col-md-4 text-center py-md-3">
                <p><a href="#" class="whiteColor">About Us</a></p>
                <p><a href="#" class="whiteColor">Merchants</a></p>
                <p><a href="#" class="whiteColor"></a>Become a Dasher</a></p>
              </div><br>
              <div class="col-12 col-md-4 text-center py-md-3">
                  <p>+1(514)123.4567<br>123, Main Street<br>H1X2T3, Montreal</p>
                  <p><i class="fas fa-map-marked-alt fa-2x"></i></p>           
              </div>
              
              <div class="col-12 col-md-4 text-center py-md-3">
                  <p>Customer Service<br>
                      <a href="contact.html" class="whiteColor">Contact Us</a><br>
                      <a href="#" class="whiteColor">Privacy Policy</a><br>
                      <a href="#" class="whiteColor">Terms of Service</a><br></p>
                      <p>&#x24B8; 2020 Let's EAT Reserve</p>
              </div>
          </div>
      </div>
  </div>    
    
    <script>

      // The following example creates complex markers to indicate beaches near
      // Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
      // to the base of the flagpole.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: { lat: {{ session.arrCenterPostcode.Latitude }}, lng: {{ session.arrCenterPostcode.Longitude }} }
        });

        setMarkers(map);
      }

      // Data for the markers consisting of a name, a LatLng and a zIndex for the
      // order in which these markers should display on top of each other.
      var beaches = [
        {% for restaurant in restaurantsList %}
            ['{{restaurant.name}}', {{restaurant.Latitude}}, {{restaurant.Longitude}}, {{restaurant.id}}],
        {% endfor %} 
      ];

      function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
        for (var i = 0; i < beaches.length; i++) {
          var beach = beaches[i];
          var marker = new google.maps.Marker({
            position: {lat: beach[1], lng: beach[2]},
            map: map,
            icon: image,
            shape: shape,
            title: beach[0],
            zIndex: beach[3]
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBON6db-E8cIzVii1TuqKult0KLq9zvrDE&callback=initMap">
    </script>
  </body>
</html>