{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Delivery Register
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
        <div class="row">
            <div class="col">
                <br />
            		<h2>Become a LetsEAT delivery man</h2>
                    <h5> Food Delivery with Decent Pay</h5>
		        <br/>
                <div>
                    <img src="../images/deliverybike.png" class="deliverManPic" width="450">
                    <br /><br />
                    <br />
                    <p>
                        <b>Canada：</b>+14383453986
                    </p>        
                    <p>
                        <b>USA：</b>+16467518138
                    </p>                                
                    <p>
                        <b>New Zealand：</b>+6442807421
                    </p>
                    <p>
                        <b>France：</b>+33186651453
                    </p>
                    <p>
                        <b>England：</b>+02081335028
                    </p>
                    <p>
                        <b>Australia：</b>+61383759203
                    </p>
                    <p>
                        <b>Italy: </b>+390230578808                    
                    </p>
                    <p>
                        <b>China:</b> +390230578808                    
                    </p>                    
                </div>            
            </div>
            <div class="col">
		        <br/><h2>Your information</h2><br/>            
                <div style="padding:20px;background-color: white;border-radius:10px;">
                    <span class="errorList" id="isTaken"></span>
                    <form class="register"  method="POST">
                        <ul class="errorList" style="color:red">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>     

                        <div>				   
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Your Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="email" id="email" value="{{ prevInput.email }}" placeholder="email@example.com">
                                </div>
                            </div>          
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" name="password" class="form-control" id="inputPassword" >
                                </div>
                            </div>    
                            <div class="form-group row">
                                <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="password" name="confirmPassword"  class="form-control" id="confirmPassword">
                                </div>
                            </div>	                               
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 col-form-label">Your Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" id="name" value="">
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Date Of Birth</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="dateOfBirthday" id="dateOfBirthday" value="{{ prevInput.dateOfBirthday }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Work Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="workType">
                                        <option value="fullTime">Full Time</option>
                                        <option value="partTime">Part Time</option>                                                                                                                                                                                       
                                    </select>   
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="phone" value="{{ prevInput.phone }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="driverFrom" class="col-sm-3 col-form-label">Driver From</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="driverFrom" id="driverFrom" value="{{ prevInput.driverFrom }}" >
                                </div>
                            </div>    
                            <div class="form-group row">
                                <label for="driverLicense" class="col-sm-3 col-form-label">Driver License</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="driverLicense" id="driverLicense" value="{{ prevInput.driverLicense }}">
                                </div>
                            </div>                                                      
                            <div class="form-group row">
                                <label for="postcode" class="col-sm-3 col-form-label">Postcode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="postcode" id="postcode" value="{{ prevInput.postcode }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="address" id="address" value="{{ prevInput.address }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="city" id="city" value="{{ prevInput.city }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="province" class="col-sm-3 col-form-label">Province</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="province" id="province" value="{{ prevInput.province }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="country" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="country">
                                        <option value="Canada">Canada</option>
                                        <option value="USA">USA</option>
                                        <option value="NewZealand">New Zealand</option>
                                        <option value="France">France</option>
                                        <option value="England">England</option>
                                        <option value="Australia">Australia</option>             
                                        <option value="Italy">Italy</option>         
                                        <option value="China">China</option>                                                                                                                                                                                         
                                    </select>                                   
                                </div>
                            </div>                                                  
                            <div>
                                <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                                <input type="submit" class="btn btn-success" id="submit" value="Register">
                                &nbsp;&nbsp;&nbsp;<a href="/"  class="btn btn-success">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>                    
            </div>
        </div><br/>	
	</div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
           $('input[name=email]').on('keyup keypress',function (){
                let email = $('input[name=email]').val();
                if(email == ''){ 
                    $('#isTaken').html('');
                    return; 
                }

                $('#isTaken').load('/register/isemailtaken/' + email);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}