{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
        {% if resgisterSuccess %}
            <h2>Register become driver successful! We will contact you as soon as possible!</h2>
        {% endif %}
		<h2>Login</h2>
		<br/>
		<div class="inputBox">
            <a href="/delivery/">Go to login your manager page</a>
		</div>
		<br/>
	</div>
{% endblock %}
