{% extends "website/master.html.twig" %}

{% block link %}         <link rel="stylesheet" type="text/css" href="styles/index.css" />    {% endblock %}
{% block title %}Home-letseat{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
            $("#postcodeSearch").click(function(){
                var postcode = $("#postcode").val();
                window.location.href="/chooseRestaurant?postcode="+postcode;
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock %}

{% block content %}
    <div id="main-container-home" class="container-fluid" >     
        <!--main carousel-->
        <div class="container main-carousel">
            <div style="margin-top:260px;margin-left:120px;">
                <!--
                <form class="form-inline my-2 my-lg-0" method="POST" action="/chooseRestaurant">
                    <input class="form-control mr-sm-2" name="postcode" type="text" size="70" value="H9R 4Y5" placeholder="Enter your postcode" >
                    <input class="btn btn-danger" type="submit" id="postcodeSearch1" value="Search" size="3"/>
                </form>
                -->
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="postcode" id="postcode" value="H9R 4Y5" placeholder="Enter your postcode" >
                    </div>
                    <label for="postcode" class="col-sm-2 col-form-label"><span class="btn btn-danger" id="postcodeSearch" style="margin-top:-7px;"/> Search </span></label>                
                </div>                 
            </div>
        </div>
        <div class="container main-carousel">
            <div id="carouselExampleControls" class="carousel slide text-center col-12" data-ride="carousel" style="margin-top:80px;">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <h5>Chinese Food</h5>
                        <a href="#"><img src="images/slider1.JPG" width="220">
                        <img src="images/slider2.JPG" width="220"> 
                        <img src="images/slider3.JPG" width="220"> 
                        <img src="images/slider4.JPG" width="220">      </a>         
                    </div>
                    <div class="carousel-item">
                        <h5>Japanese Food</h5>                        
                        <a href="#"><img src="images/slider2.JPG" width="220"> 
                        <img src="images/slider3.JPG" width="220"> 
                        <img src="images/slider4.JPG" width="220"> 
                        <img src="images/slider1.JPG" width="220"> </a>
                    </div>
                    <div class="carousel-item">
                        <h5>India Food</h5>                              
                        <a href="#"><img src="images/slider3.JPG" width="220"> 
                        <img src="images/slider4.JPG" width="220"> 
                        <img src="images/slider1.JPG" width="220"> 
                        <img src="images/slider2.JPG" width="220"> </a>
                    </div>
                    <div class="carousel-item">
                        <h5>Korea Food</h5>                            
                        <a href="#"><img src="images/slider4.JPG" width="220"> 
                        <img src="images/slider1.JPG" width="220"> 
                        <img src="images/slider2.JPG" width="220"> 
                        <img src="images/slider3.JPG" width="220"> </a>
                    </div>
                    <div class="carousel-item active">
                        <h5>Italian Food</h5>
                        <a href="#"><img src="images/slider4.JPG" width="220"> 
                        <img src="images/slider1.JPG" width="220"> 
                        <img src="images/slider2.JPG" width="220"> 
                        <img src="images/slider3.JPG" width="220"> </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>         
    </div>
    <div class="container-fluid" id="reviews-container">
        <div class="container">
            <div class="row" style="padding-top:40px;color:#252525">
                <div class="col-12 col-md-6 ">
                    <h5>
                        We add value to people's lives through seamless online food delivery and pickup.                        
                    </h5>
                    <p>
                        At SkipTheDishes, we know you deserve great delivery. Our world-class, unparalleled technology powers millions of orders every month to bring hungry Canadians the food they want, delivered. Skip is Canada's leading and largest food delivery network, with tens of thousands of restaurants coast-to-coast in hundreds of communities across Canada. Our headquarters are in the heart of the continent in Winnipeg, Manitoba.                        
                    </p>
                    <p>
                        SkipTheDishes is proudly part of Just Eat, a leading global marketplace for online food delivery headquartered in the UK.                        
                    </p>
                </div>
                
                <div class="col-12 col-md-6">
                    <img src="images/diliver.JPG">
                </div>            
            </div>
        </div>
    </div>    
{% endblock %}
