{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
        {% if resgisterSuccess %}
            <h2>Register successful!</h2>
        {% endif %}
		<h2>Login</h2>
		<br/>
		<div class="inputBox">
			<form class="register"  method="POST">    
                <ul class="errorList">
                    {% if error %}
                        <li>{{ error }}</li>
                    {% endif %}
                </ul>    		             
				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="email" id="email" value="shuixiutan@gmail.com">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input type="password" name="password" class="form-control" id="inputPassword"  value="123456">
					</div>
				</div>

				<div>
					<label for="inputPassword" class="col-sm-2 col-form-label"></label>
					<input type="submit" class="btn btn-success"  id="submit" value="Login">
					{% if resgisterSuccess==false %}
						&nbsp;&nbsp;<a href="/register" class="btn btn-success">Register a new account</a>
					{% endif %}					
				</div>
			</form>
		</div>
		<br/>
	</div>
{% endblock %}
