<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta
		name="description" content="restaurant food menu delivery">

		<!-- Bootstrap CSS -->
		<link
		rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Font Awesome-->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

		<!-- External CSS-->
		<link rel="stylesheet" type="text/css" href="../styles/main.css"/> {% block link %}{% endblock %}
		<title>
			{% block title %}Default
			{% endblock %}
			- home</title>

		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				{% block logo %}
					<div class="col-3 d-none text-center d-md-inline">
						<i class="fab fa-linkedin fa-lg py-4"></i>
						<i class="fab fa-instagram fa-lg py-4"></i>
						<i class="fab fa-youtube-square fa-lg py-4"></i>
					</div>
				{% endblock %}
				<div class="col-6 offset-3 offset-md-0 text-center" style="margin-top:22px">
					{% block searchOrMenu %}
						<a href="/restaurantregister" class="menu">MERCHANTS</a>
						<a href="/deliveryregister" class="menu">DELIVERY DRIVER</a>
					{% endblock %}
				</div>
				<div class="col-3 d-md-none py-4">
					<i class="fas fa-tty fa-lg"></i>
				</div>
				<div class="col-3 d-none d-md-inline py-4">
					{% if session.user %}
						<span>Hi 
							<a href="/user/"  target="_blank">{{ session.user.name }}</a>
						</span>
						&nbsp;&nbsp;<a href="/logout">Logout</a>
					{% else %}
						<a href="/login">Login</a>
						or
						&nbsp;&nbsp;&nbsp;<a href="/register">Register</a>
					{% endif %}
					{% block cart %}{% endblock %}
					&nbsp;&nbsp;&nbsp;<i class="fas fa-globe-americas"></i>&nbsp;<a href="fr/index.html">FR</a>
				</div>
			</div>
		</div>
		{% block content %}{% endblock %}

		<!-- footer -->
		<div style="background-color:#252525;color:white">
			<div class="container">
				<div class="row" id="footer">
					<div class="col-12 col-md-4 text-center py-md-3">
						<p>
							<a href="#" class="whiteColor">About Us</a>
						</p>
						<p>
							<a href="#" class="whiteColor">Merchants</a>
						</p>
						<p>
							<a href="#" class="whiteColor"></a>Become a Dasher</p>
					</a>
				</p>
			</div><br>
			<div class="col-12 col-md-4 text-center py-md-3">
				<p>+1(514)123.4567<br>123, Main Street<br>H1X2T3, Montreal</p>
				<p>
					<i class="fas fa-map-marked-alt fa-2x"></i>
				</p>
			</div>

			<div class="col-12 col-md-4 text-center py-md-3">
				<p>Customer Service<br>
					<a href="contact.html" class="whiteColor">Contact Us</a><br>
					<a href="#" class="whiteColor">Privacy Policy</a><br>
					<a href="#" class="whiteColor">Terms of Service</a><br></p>
				<p>&#x24B8; 2020 Let's EAT Reserve</p>
			</div>
		</div>
	</body>
</html></div></div><!-- Optional JavaScript --><!-- jQuery first, then Popper.js, then Bootstrap JS --><!--
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	        crossorigin="anonymous"></script>
	        --><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"> </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><script>$(document).ready(function () {
$("#postcodeSearch").click(function () { // alert("aaa");
});
});</script></body></html>
