{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
		<h2>Register Your Account</h2>
		<br/>
        <span class="errorList" id="isTaken"></span>
		<div style="padding:20px;background-color: white;border-radius:10px;">
			<form class="register"  method="POST">
                <ul class="errorList" style="color:red">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>     
				<div>				   
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="email" id="email" value="{{ prevInput.email }}" placeholder="email@example.com">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" name="password" class="form-control" id="inputPassword" >
						</div>
					</div>    
					<div class="form-group row">
						<label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
						<div class="col-sm-10">
							<input type="password" name="confirmPassword"  class="form-control" id="confirmPassword">
						</div>
					</div>					            
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Your Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name" id="name" value="{{ prevInput.name }}">
						</div>
					</div>                
					<div class="form-group row">
						<label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="phone" id="phone" value="{{ prevInput.phone }}" >
						</div>
					</div>
					<div class="form-group row">
						<label for="postcode" class="col-sm-2 col-form-label">Postcode</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="postcode" id="postcode" value="{{ prevInput.postcode }}" >
						</div>
					</div>
					<div class="form-group row">
						<label for="address" class="col-sm-2 col-form-label">Address</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="address" id="address" value="{{ prevInput.address }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="city" class="col-sm-2 col-form-label">City</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="city" id="city" value="{{ prevInput.city }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="province" class="col-sm-2 col-form-label">Province</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="province" id="province" value="{{ prevInput.province }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="country" class="col-sm-2 col-form-label">Country</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="country" id="country" value="{{ prevInput.country }}" >
						</div>
					</div>
					<div>
						<label for="inputPassword" class="col-sm-2 col-form-label"></label>
						<input type="submit" class="btn btn-success" id="submit" value="Register">
						&nbsp;&nbsp;&nbsp;<a href="/"  class="btn btn-success">Cancel</a>
					</div>
				</div>
			</form>
		</div>
		<br/>
	</div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
           $('input[name=email]').on('keyup keypress',function (){
                let email = $('input[name=email]').val();
                if(email == ''){ 
                    $('#isTaken').html('');
                    return; 
                }

                $('#isTaken').load('/register/isemailtaken/' + email);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}