{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Delivery Register
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <img src="../images/restaurantRegister.PNG">    
    </div>
	<hr>
	<div class="container">
        <div class="row">
            <div class="col">
                <br />
            		<h2>Get your business sales increased</h2>
		        <br/>
                <div>
                    <img src="../images/parnerPhone.PNG" width="600">
                    <br /><br />
                    <p>
                        <b>Canada：</b>+14383453986
                    </p>        
                    <p>
                        <b>USA：</b>+16467518138
                    </p>                                
                    <p>
                        <b>New Zealand：</b>+6442807421
                    </p>
                    <p>
                        <b>France：</b>+33186651453
                    </p>
                    <p>
                        <b>England：</b>+02081335028
                    </p>
                    <p>
                        <b>Australia：</b>+61383759203
                    </p>
                    <p>
                        <b>Italy: </b>+390230578808                    
                    </p>
                    <p>
                        <b>China:</b> +390230578808                    
                    </p>             
                </div>            
            </div>
            <div class="col">
		        <br/><h2>Become our business partner</h2><br/>            
                <div style="padding:20px;background-color: white;border-radius:10px;">
                    <span class="errorList" id="isTaken"></span>
                    <form class="register"  method="POST">
                        <ul class="errorList" style="color:red">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>     
                        <div>		
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Restaurant Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" id="name" value="{{ prevInput.name }}">
                                </div>
                            </div>      
                            <div class="form-group row">
                                <label for="owner" class="col-sm-3 col-form-label">Owner</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="owner" id="owner" value="{{ prevInput.owner }}">
                                </div>
                            </div>                                                   		   
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="email" id="email" value="{{ prevInput.email }}" placeholder="email@example.com">
                                </div>
                            </div>                                      
                        
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="phone" value="{{ prevInput.phone }}" >
                                </div>
                            </div>
                                                      
                            <div class="form-group row">
                                <label for="postcode" class="col-sm-3 col-form-label">Postcode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="postcode" id="postcode" value="{{ prevInput.postcode }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="address" id="address" value="{{ prevInput.address }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="city" id="city" value="{{ prevInput.city }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="province" class="col-sm-3 col-form-label">Province</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="province" id="province" value="{{ prevInput.province }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="country" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="country">
                                        <option value="Canada">Canada</option>
                                        <option value="USA">USA</option>
                                        <option value="NewZealand">New Zealand</option>
                                        <option value="France">France</option>
                                        <option value="England">England</option>
                                        <option value="Australia">Australia</option>             
                                        <option value="Italy">Italy</option>         
                                        <option value="China">China</option>                                                                                                                                                                                         
                                    </select>                                   
                                </div>
                            </div> 
                            <br />                                                 
                            <div>
                                <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                                <input type="submit" class="btn btn-success" id="submit" value="Join Us">
                                &nbsp;&nbsp;&nbsp;<a href="/"  class="btn btn-success">Cancel</a>
                            </div>
                        </div>
                    </form>
                    <br /> <br />
                </div>                    
            </div>
        </div><br/>	<br/>	
	</div>

    <div class="container-fluid">
        <img src="../images/ourParners.PNG" >
    </div>
		<!-- footer -->
		<div style="background-color:#252525;color:white">
			<div class="container">
				<div class="row" id="footer">
					<div class="col-12 col-md-4 text-center py-md-3">
						<p>
							<a href="#" class="whiteColor">About Us</a>
						</p>
						<p>
							<a href="#" class="whiteColor">Merchants</a>
						</p>
						<p>
							<a href="#" class="whiteColor"></a>Become a Dasher</p>
					</a>
				</p>
			</div><br>
			<div class="col-12 col-md-4 text-center py-md-3">
				<p>+1(514)123.4567<br>123, Main Street<br>H1X2T3, Montreal</p>
				<p>
					<i class="fas fa-map-marked-alt fa-2x"></i>
				</p>
			</div>

			<div class="col-12 col-md-4 text-center py-md-3">
				<p>Customer Service<br>
					<a href="contact.html" class="whiteColor">Contact Us</a><br>
					<a href="#" class="whiteColor">Privacy Policy</a><br>
					<a href="#" class="whiteColor">Terms of Service</a><br></p>
				<p>&#x24B8; 2020 Let's EAT Reserve</p>
			</div>
		</div>    

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
           $('input[name=email]').on('keyup keypress',function (){
                let email = $('input[name=email]').val();
                if(email == ''){ 
                    $('#isTaken').html('');
                    return; 
                }

                $('#isTaken').load('/register/isemailtaken/' + email);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}