{% extends "website/accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
        <h2>Thank you for joining our business! We will contact you as soon as possible!</h2>
		<h2>Login</h2>
		<br/>
		<div class="inputBox">
            <a href="/">Back to Home page</a>
		</div>
		<br/>
	</div>
{% endblock %}
