{% extends "user/master.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
			{% if changeSuccess %}
				<h2>Change Password Successful!</h2>
				{% else %}
				<h2>Change Password</h2>
			{% endif %}		

		<br/>
		<div class="inputBox">
			<form class="register"  method="POST" action="/user/changepassword">    
                <ul class="errorList">
                    {% if errors %}
						{% for error in errors %}
                        	<li style="color:red">{{ error }}</li>
						{% endfor %}
                    {% endif %}
                </ul>  
				{% if changeSuccess==false %}  		             
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">New Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" name="password" id="password" >
					</div>
				</div>
				<div class="form-group row">
					<label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
					<div class="col-sm-10">
						<input type="password" name="confirmPassword" class="form-control" id="confirmPassword" >
					</div>
				</div>

				<div>
					<label for="inputPassword" class="col-sm-2 col-form-label"></label>
					<input type="submit" class="btn btn-success"  id="submit" value="Login">			
				</div>
				{% endif %}	
			</form>
		</div>
		<br/>
	</div>
{% endblock %}
