{% extends "delivery/master.html.twig" %}

{% block title %}LetsEat | Delivery History
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Delivery History</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Delivery History
			</div>
			{# end of card-header#}

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>		
								<th>Serial Number</th>                                					
								<th>Customer</th>                             
								<th>Delivery Fee</th>                               
								<th>Delivery Time</th>        
								<th>Restaurant</th>                                                                                               
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td><a href="/restaurant/orderdetails/{{order.orderNumber}}">{{order.orderNumber}}</a></td>
									<td>{{order.customerName}}</td>                                       	                               								
									<td>${{order.shippingFee}}</td>            
									<td>{{order.deliveryTime}}</td>    
									<td>{{order.restaurantName}}</td>                                                                                                                                                                          
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}
{% endblock %}
