{% extends "delivery/master.html.twig" %}

{% block title %}Home-letseat{% endblock %}

{% block content %}
  
<div class="container-fluid">
	<h1 class="mt-4">Infomation</h1>
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>My Info
    </div>
    <br />
    <div class="row" style="padding-left:40px;margin-top:20px;">
        <div>
            <p><b>Balance:</b> ${{deliveryMan.balance}} </p>            
            <p><b>Email:</b> {{deliveryMan.email}} </p>           
            <p><b>Name:</b>  {{deliveryMan.name}} </p> 
            <p><b>Date Of Birth:</b>  {{deliveryMan.dateOfBirth}}  </p>             
            <p><b>Work Type: </b> <select name="workTypeList" id="workTypeList">
                <option valu="fullTime"
                {% if deliveryMan.workType == 'partTime' %}
                    selected
                {% endif %}
                >Full Time</option>
                <option valu="partTime" 
                {% if deliveryMan.workType == 'partTime' %}
                    selected
                {% endif %}>Part Time</option>
            </select>  
            </p>               
            <p id="phoneShow"><b>Phone:</b> {{ deliveryMan.phone }}  &nbsp;&nbsp;&nbsp;<a href="#" id="phoneEditBtn">Edit</a></p> 
            <p id="phoneEditInput"><b>Phone:</b><input type="text" name="phone" id="phone" value="{{ deliveryMan.phone}}"> &nbsp;&nbsp;&nbsp;<a href="#" id="confirmPhone">Confirm</a></p>            
            <p><b>Register Date:</b> 2020-03-15 </p>                                
            <div id="addresDisplay">
                <b>Address:</b>
                    {{ deliveryMan.address}}, {{ deliveryMan.city}}, {{ deliveryMan.province }}, {{ deliveryMan.country }}, {{ deliveryMan.postcode }} &nbsp;&nbsp;&nbsp;
                    <a href="#" id="addressEdit">Edit</a>
            </div>
            <br />
            <div id="addressForm" style="border:1px solid #b2b4b8;padding:15px; width:300px;">
                <h5>Address Edit</h5>
                <span id="addressError"> </span>
                Address &nbsp;<input type="text" name="address" id="address" value="{{ deliveryMan.address}}"> <br /><br />
                <span id="cityError"> </span>
                City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city" id="city" value="{{ deliveryMan.city}}"> <br /><br />
                <span id="provinceError"> </span>
                Province <input type="text" name="province" id="province"  value="{{ deliveryMan.province}}"> <br /><br />
                <span id="countryError"> </span>
                Country &nbsp;<input type="text" name="country" id="country"  value="{{ deliveryMan.country}}"> <br /><br />
                <span id="postcodeError"> </span>					
                Postcode <input type="text" name="postcode" id="postcode"  value="{{ deliveryMan.postcode}}"> <br />
                <br />
                <div class="text-center">
                    <a href="#" id="confirmAddress" >Confirm</a>
                </div>
            </div>	
            <br /><br />           
        </div>
        <div style="margin-left:80px">  
            <p><b>Drive From:</b> {{ deliveryMan.driverFrom}} &nbsp;&nbsp;&nbsp;</p>            
            <p><b>Driver Lisence Number:</b> {{ deliveryMan.driverLicense}} </p>                                             
            <p><b>DriverLicense Picture:</b> <br /><img src="../uploads/driverLicenses/{{ deliveryMan.driverLisPicPath}} " alt="licensePicture" width="300"/></p>     
            <br /><br />               
        </div>    
    </div>
</div> 
<script>
        $(document).ready(function () {
            $("#phoneEditInput").hide();
			$("#addressForm").hide();
			$("#phoneEditBtn").click(function(){
                $("#phoneEditInput").show();
                $("#phoneShow").hide();               
            });

			$("#addressEdit").click(function(){
                $("#addressForm").show();
                $("#addresDisplay").hide();     				
			});

            $("#confirmPhone").click(function(){
                var phone = $("input[name=phone]").val();								
                // TODO: verify values are valid
                var userObj = { phone:phone };;
                var dataString = JSON.stringify(userObj);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/delivery/phone",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });

            $("#confirmAddress").click(function(){
                var address = $("input[name=address]").val();
				var city = $("input[name=city]").val();			
				var province = $("input[name=province]").val();				
				var country = $("input[name=country]").val();		
				var postcode = $("input[name=postcode]").val();													

                // TODO: verify values are valid
                var userObj = { address: address, city: city, province: province, country: country,postcode:postcode };;
                var dataString = JSON.stringify(userObj);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/delivery/address",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });			

        });
</script>

{% endblock %}

