{% extends "delivery/master.html.twig" %}

{% block title %}LetsEat | Open Tasks
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Open Tasks</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Open Tasks
			</div>
			{# end of card-header#}

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>		
								<th>Serial Number</th>                                					
								<th>Customer Info</th>                             
								<th>Delivery Fee</th>                               
								<!-- <th>Expected Time</th> -->       
								<th>Restaurant Info</th> 
								<th>Operation</th>                                                                                              
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td><a href="/restaurant/orderdetails/{{order.orderNumber}}">{{order.orderNumber}}</a></td>
									<td>
										{{order.customerName}}, {{order.customerPhone}}<br />
										{{order.customerAddress}}, {{order.customerCity}}, 
										{{order.customerProvince}}, {{order.customerContry}}, {{order.customerPostcode}}
									</td>                                       	                               								
									<td>${{order.shippingFee}}</td>            
									<!-- <td>{{order.expectDeliverTime}}</td>    -->  
									<td>
										{{order.restaurantName}}, {{order.restaurantPhone}}<br />
										{{order.restaurantAddress}}, {{order.restaurantCity}}, 
										{{order.restaurantProvince}}, {{order.restaurantContry}}, {{order.restaurantPostcode}}									
									</td> 
									<td>
										<a href="#" id="getTask" data-id="{{order.id}}" >Get Task</a>
									</td>                                                                                                                                                                         
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{# table-responsive #}
			</div>
			{# end of card-body #}
		</div>
		{# end of card#}
	</div>
	{# end of container-fluid#}

<script>
        $(document).ready(function () {
            $("#getTask").click(function(){
                var orderId = $(this).data('id');								
                // TODO: verify values are valid
                var orderObj = { id:orderId };;
                var dataString = JSON.stringify(orderObj);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/delivery/getTask",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					alert("Get Task Successful,check your tasks page to see this order");
					location.reload();
                });              
            });		
        });
</script>	
{% endblock %}
